@if $Hide_dropdowns == "true" {
  ol.category-breadcrumb {
    display: none;
  }
}

@if $Hide_default_links == "true" {
  .list-controls .drop {
    li:nth-child(1),
    li:nth-child(2) {
    display: none;
  }
}
