@use "lib/viewport";

@if $Hide_dropdowns == "true" {
  ol.category-breadcrumb {
    display: none;
  }
}

@if $Hide_default_links == "true" {
  .list-control-toggle-link-content li:not([class*="custom_"]) {
    display: none;
  }

  @include viewport.from(sm) {
    #navigation-bar li:not([class*="custom_"]) {
      display: none;
    }
  }
}
